<script type="text/ejs" id="dotCanvas">
<table>
    <tbody>
        [% for(var i = 0; i < 40; i++) {%]
            <tr>
                [% for(var j = 0; j < 64; j++) {%]
                    <td class="cell"></td>
                [% } %]
            </tr>
        [% } %]
    </tbody>
</table>
</script>
